<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NameError-Product</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">   
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script></head>
<body>

    <!--################### NAVBAR #################### -->
    <nav class="navbar navbar-expand-sm bg-dark"> 
        <a class="navbar-brand" style="font-size: 25px; color: white;" href="https://nameerror.ai/">NameError</a>
        <ul class="navbar-nav ml-auto"> 
            <li class="nav-item" style="margin: 0px 20px; font-size: 20px;"> 
                <a class="nav-link" href="https://nameerror.ai/"> 
                  Home
                </a> 
            </li> 
            <li class="nav-item" style="margin: 0px 20px;  font-size: 20px;"> 
                <a class="nav-link" href="https://nameerror.ai/categories/"> 
                  Courses
                </a> 
            </li> 
            <li class="nav-item" style="margin: 0px 20px; font-size: 20px;"> 
                <a class="nav-link" href="https://community.nameerror.ai/"> 
                  Community
                </a> 
            </li>
            <li class="nav-item" style="margin: 0px 20px;padding-right: 20px; font-size: 20px;"> 
                <a class="nav-link" href="https://nameerror.ai/blog/"> 
                  Blogs
                </a> 
            </li> 
        </ul> 
    </nav> 

    <!-- HEADER IMAGE -->
    <div class="jumbotron" style="background-color: darkgray; margin: 0px;">
        <img src="../static/11.jpg" class="mx-auto d-block" style="height: auto;">
    </div>
   
    <!-- FORMS DATA -->
    <div class="jumbotron" style="margin: 0px;" >

        <!-- ALGO 1 -->
        <div class="row">
          <div class="col-sm" style="text-align: center;">
                <!-- <img style="display: block; margin: auto; width: 100%; margin-left: auto; margin-right: auto;" height="500px" width="500px" src="../templates/media/11.jpg"> -->
                
                <div class="container">
                    <h1 style="margin-bottom: 20px;">Lympography</h1>
                    <!-- <li>Lymphatics, enter only one value {1, 2, 3, 4}</li> -->
                    <ul>
                        <li>Lymphatics, enter only one value {1, 2, 3, 4} - {normal, arched, deformed, displaced}</li>
                        <li>Block of affere, enter only one value {1, 2} - {no, yes}</li> 
                        <li>Bl. of lymph. c, enter only one value {1, 2} - {no, yes}</li>
                        <li>Bl. of lymph. s, enter only one value {1, 2} - {no, yes}</li>
                    </ul>
                </div>
                
                
                <form action="{{ url_for('predict')}}"method="post" style="margin-top: 55px;">
                    <div class="row">
                      <div class="col">
                        <input type="text" class="form-control" placeholder="lymphatics" required="required" name="Feature1_Algo1">
                      </div>
                      <div class="col">
                        <input type="text" class="form-control" placeholder="block of affere" required="required"  name="Feature2_Algo1">
                      </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                          <input type="text" class="form-control" placeholder="bl. of lymph. c" required="required" name="Feature3_Algo1">
                        </div>
                        <div class="col">
                          <input type="text" class="form-control" placeholder="bl. of lymph. s" required="required" name="Feature4_Algo1">
                        </div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Predict</button>
                  </form>

                  <br>
                  <br>
                  <strong>{{ prediction_text_Algo1 }}</strong>
          </div>

        <!-- Algo 2 -->
            <div class="col-sm" style="text-align: center;">
                  <!-- <img style="display: block; margin: auto; width: 100%; margin-left: auto; margin-right: auto;" height="500px" width="500px" src="../templates/media/11.jpg"> -->
                  <div class="container">

                    <h1 style="margin-bottom: 20px;">Breast Cancer</h1>
                    <ul>
                        <li>inv-nodes :- {0, 1, 2, 3, 4, 5, 6} - {0-2, 3-5, 6-8, 9-11, 12-14, 15-17, 18-20, 21-23, 24-26,27-29, 30-32, 33-35, 36-39}</li>
                        <li>node-caps :-  {0, 1, 2} - {yes, no.}</li>
                        <li>deg-malig :-  {0, 1, 2} - {1, 2, 3.}</li>
                        <li>irradiat :-  {0, 1} - {yes, no}</li>
                    </ul>

                  </div>
                  
                  
                  <form action="{{ url_for('predict2')}}"method="post" style="margin-top: 30px;">
                      <div class="row">
                        <div class="col">
                          <input type="text" class="form-control" placeholder="inv-nodes" required="required" name="Feature1_Algo2">
                        </div>
                        <div class="col">
                          <input type="text" class="form-control" placeholder="node-caps" required="required"  name="Feature2_Algo2">
                        </div>
                      </div>
                      <br>
                      <div class="row">
                          <div class="col">
                            <input type="text" class="form-control" placeholder="deg-malig" required="required" name="Feature3_Algo2">
                          </div>
                          <div class="col">
                            <input type="text" class="form-control" placeholder="irradiat" required="required" name="Feature4_Algo2">
                          </div>
                      </div>
                      <br>
                      <button type="submit" class="btn btn-primary">Predict</button>
                    </form>
  
                    <br>
                    <br>
                    <strong>{{ prediction_text_Algo2 }}</strong>
            </div>
         

        <!-- Algo 3
            <div class="col-sm" style="text-align: center;">
                   <img style="display: block; margin: auto; width: 100%; margin-left: auto; margin-right: auto;" height="500px" width="500px" src="../templates/media/11.jpg">
                  <h1 style="margin-bottom: 20px;">Algorithm 3</h1>
                  <form action="{{ url_for('predict3')}}"method="post">
                      <div class="row">
                        <div class="col">
                          <input type="text" class="form-control" placeholder="First name" required="required" name="Feature1_Algo3">
                        </div>
                        <div class="col">
                          <input type="text" class="form-control" placeholder="Last name" required="required"  name="Feature2_Algo3">
                        </div>
                      </div>
                      <br>
                      <div class="row">
                          <div class="col">
                            <input type="text" class="form-control" placeholder="First name" required="required" name="Feature3_Algo3">
                          </div>
                          <div class="col">
                            <input type="text" class="form-control" placeholder="Last name" required="required" name="Feature4_Algo3">
                          </div>
                      </div>
                      <br>
                      <button type="submit" class="btn btn-primary">Predict</button>
                    </form>
  
                    <br>
                    <br>
                    <strong>{{ prediction_text_Algo3 }}</strong>
            </div>
          </div> -->
    </div>


    <!-- Creating Our Blogs -->

    <div class='jumbotron'>
        <h1 style="text-align: center; margin-bottom: 30px;">Our Blogs</h1>
        <div class="container">
            <div class="row">
              <div class="col-sm">
                <img src="static/ind.png" class="mx-auto d-block" style="width: 100%;"><br>
                <p>blog is about<i>"Industries Applications of Machine Learning</i>". In this we have
                    Buzzwords like machine learning, deep learning, and AI are fundamentally shifting the nature
                    of the business, and the way we think of them need to stay competitive. In the past decade, 
                    <a href="https://nameerror.ai/2020/05/31/industries-applications-of-machine-learning/"><strong>Read more...</strong></a></p>
              </div>
              <div class="col-sm">
                <img src="static/c.png" class="mx-auto d-block" width="459px" height="345px" style="width: 100%;"><br>
                <p>In our last, we discussed how to prepare data for COVID-19 and we saved that 
                in our CSV files. Now, we are going to use that data to implement a Computer Vision 
                model from scratch. if you are not aware of last post click here are read it once and 
                pare data for your model, <a href="https://community.nameerror.ai/2020/05/24/deep-learning-model-for-covid-19-with-cnn-part-1/"><strong>Read more...</strong></a>
                </p>
            </div>
            </div>
          </div>
    </div>

   
        <!-- Footer -->
    <footer class="page-footer font-small mdb-color pt-4" style="background-color: black;">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">
    
        <!-- Footer links -->
        <div class="row text-center text-md-left mt-3 pb-3">
    
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold" style="color: white;">NameError</h6>
            <p style="color:white;">Flexible easy to access learning opportunities can bring a significant 
                change in how individuals prefer to learn! 
                The NameError can offer you to enjoy the beauty of eLearning!</p>
            </div>
            <!-- Grid column -->
    
            <hr class="w-100 clearfix d-md-none">
    
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold" style="color:white;">NameError</h6>
            <p>
                <a style="color:white;" href="https://nameerror.ai/courses/machine-learning-nanodegree-program/">Machine Learning</a>
            </p>
            <p>
                <a style="color:white;" href="https://nameerror.ai/courses/data-science-nanodegree-program/">Data Science</a>
            </p>
            <p>
                <a style="color:white;" href="https://nameerror.ai/courses/python-programming/">Python</a>
            </p>
            <p>
                <a style="color:white;" href="https://nameerror.ai/contact/">Contact Us</a>
            </p>
            </div>
            <!-- Grid column -->
    
            <hr class="w-100 clearfix d-md-none">
    
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold" style="color:white;">NameError</h6>
            <p>
                <a style="color:white;" href="https://nameerror.ai/">Home</a>
            </p>
            <p>
                <a style="color:white;" href="https://nameerror.ai/blog/">Blog</a>
            </p>
            <p>
                <a style="color:white;" href="https://nameerror.ai/categories/">Courses</a>
            </p>
            <p>
                <a style="color:white;" href="https://community.nameerror.ai/">Community</a>
            </p>
            </div>
    
            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">
    
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold" style="color:white;">Contact</h6>
            <p style="color:white;">
                <i class="fas fa-home mr-3"></i>Hyderabad, Telangana</p>
            <p style="color:white;">
                <i class="fas fa-envelope mr-3"></i>info@nameerror.ai</p>
            <p style="color:white;">
                <i class="fas fa-phone mr-3"></i> +91 7993275488</p>
            </div>
            <!-- Grid column -->
    
        </div>
        <!-- Footer links -->
    
        <hr>
    
        <!-- Grid row -->
        <div class="row d-flex align-items-center">
    
            <!-- Grid column -->
            <div class="col-md-7 col-lg-8">
    
            <!--Copyright-->
            <p class="text-center text-md-left" style="color:white;">© 2020 Copyright:
                <a href="https://nameerror.ai/">
                <strong>NameError.ai</strong>
                </a>
            </p>
    
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 ml-lg-0">
    
            <!-- Social buttons -->
            <div class="text-center text-md-right">
                <ul class="list-unstyled list-inline">
                <li class="list-inline-item">
                    <a class="btn-floating btn-sm rgba-white-slight mx-1">
                    <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-sm rgba-white-slight mx-1">
                    <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-sm rgba-white-slight mx-1">
                    <i class="fab fa-google-plus-g"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-sm rgba-white-slight mx-1">
                    <i class="fab fa-linkedin-in"></i>
                    </a>
                </li>
                </ul>
            </div>
    
            </div>
            <!-- Grid column -->
    
        </div>
        <!-- Grid row -->
    
        </div>
        <!-- Footer Links -->
    
    </footer>
    <!-- Footer -->
</body>
</html>